<div class="flex flex-row basis-full m-8 ">
  <ul class="underline grow-1 w-64">
    <li *ngFor="let link of links" class="pb-2 min-w-48 w-24">
      <a [routerLink]="link.route" routerLinkActive="text-sky-600" class="hover:text-sky-600">{{ link.label }}</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="m-8">
  <input [(ngModel)]="url" type="text" class=" w-full border-solid border-2" />
  <button (click)="navigate()" class="px-4 mt-4 border-solid border-2 hover:bg-slate-500">Navigate</button>
</div>